textarea {
    min-height: 400px;
}

#emails-view {
    margin-top: 20px;
  }
  
  .email {
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #f0f0f0;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  }
  
  .email:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
